.main-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joblist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.job-one {
  margin-right: 20px;
}

.job-one,
.job-two {
  border: 1px solid grey;
  margin-bottom: 10px;
  width: 200px;
  height: 280px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-boxes {
  padding: 5px;
  margin-right: 10px;
  width: 200px;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.happy-image {
  border: 1px solid grey;
  width: 300px;
  height: auto;
  margin-left: 110px;
  margin-top: 20px;
}

.footer-container {
  flex-direction: row;
}

.footer-left {
  display: flex;
  flex-direction: row;
}

footer {
  font-size: smaller;
  width: 100vw;
  margin-top: 20px;
  border-top: 1px solid grey;
  flex-direction: column;
}

.footer-one,
.footer-two,
.footer-three {
  margin: 5px;
  padding: 2px;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
}

.social-one {
  width: 2px;
  height: 2px;
}

.social-two {
  width: 2px;
  height: 2px;
}

.social-three {
  width: 2px;
  height: 2px;
}

.footer-right {
  display: flex;
  flex-direction: row;
}
