#fps {
  margin-top: 5px;
  margin-left: 35px;
}

a {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

#contentContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 43%;
  top: 60%;
  width: 100%;
  height: auto;
  z-index: 1;

  @media (max-width: 650px) {
    top: 80%;
  }
}

#carouselContainer {
  position: relative;
  margin-left: -500px;
  margin-top: -500px;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
}

.carouselItem {
  width: 320px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -90px;
  visibility: hidden;
}

.carouselItemInner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #007bff;
  border: 10px solid rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 24px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: 360px;
  text-align: center;
  padding-top: 50px;
}
