* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #007bff;
  box-shadow: 1px 1px 5px #e5e5e5;
  width: 100vw;
}

.logo {
  width: 120px !important;
  height: auto;
}

.navbar {
  z-index: 99;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  margin: 0 20px;
  color: black;
}

.profile-pic {
  width: 30px;
  height: auto;
  border: 3px solid #6d6d6d;
  border-radius: 18px;
  cursor: pointer;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  max-width: 800px;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }

  .item {
    padding: 8px 18px;
    cursor: pointer;
    transition: color 0.3s ease-out;
    text-decoration: none;
    color: #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
    margin: 5px 5px;

    &.active {
      color: #fff;
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
  }
}
