* {
  font-family: monospace;
}
body {
  margin: 0;
  background-color: #e5e5e5;
}
/* 
.header-nav {
  position: relative;
} */

.header-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

header {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  box-shadow: 1px 1px 15px #8a8b8e;
}

.logo {
  width: 120px;
  height: auto;
}

.navbar {
  margin: 0;
  top: 0;
  right: 10px;
  position: absolute;
  display: flex;
  align-items: center;

  padding: 10px 20px;
  /* background-color: #a3cfa7;
  border-top: 3px solid #7bc682;
  border-bottom: 3px solid #7bc682; */
}

.navbar a {
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  color: black;
}

.navbar-left ul li {
  margin-right: 20px;
  position: relative;
}

.navbar-left ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 1px;
  height: 10px;
  background-color: #8a8b8e;
  transform: translateY(-50%);
}

.navbar-left ul li:last-child::after {
  display: none;
}

.navbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 30px;
  height: auto;
  border: 3px solid #163c90;
  border-radius: 18px;
  cursor: pointer;
}

.header-right {
  margin-right: 60px;
}

.employ-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

.employ-tab p {
  white-space: nowrap;
}

.employ-tab button {
  color: black;
  background-color: #a3cfa7;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #7bc682;
}
